@model _4_FirstApplication.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model._customers.Count > 0 ? "popular" : null;
}
<h2 class="@className">@Model._movie.Name</h2>

@if (Model._customers.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <ul>
        @foreach (var customer in Model._customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

